@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/
/*#899CA0*/

/*////////////////////////
    1. Global Styles
////////////////////////*/

:root {
  --main-color-dark: #1C2B32;
  --main-border-color: #000;
  --link-color: #899CA0;
  --font-color-dark-background: #fff;
  --details-summary: #7b8d92;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: var(--main-color-dark);
}

body {
  overflow-x: hidden;
  /*This will keeps the footer at its place*/
  position: relative;
  min-height: 100vh;
}

.wrapper {
  position: relative;
  min-height: 100%;
}


/*////////////////////////
    2. Typography
////////////////////////*/

* {
  font-family: "Poppins", Arial, sans-serif;
}

/*////////////////////////
    3. Areas
////////////////////////*/
/*///////////// 3.1 Header /////////////*/
.header-wrapper {
  max-width: 1000px; /*required property */
  margin: 0 auto;
  text-align: center;
  height: 25rem;
  background-position: center;
  background-size: cover;
  background-image: url("../assets/images/mountains.jpg");

  & p {
    margin-bottom: 1rem;
    font-size: .8rem;
  }

  & form {
    margin: 0 auto;
    width: 20em;
    height: 2.3rem;
  }
}

#title {
  padding-top: 3.2rem;
  margin-bottom: .5rem;
  font-size: 4rem;
  line-height: 4rem;
}

.cta {
  font-size: .5rem;
}

#domain-chooser {
  display: inline;
  background-color: transparent;
  padding-left: 1rem;
  width: 60%;
  height: 100%;
  outline: none;
  border: 2px solid var(--main-border-color);
  border-right: none;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  color: var(--main-color-dark);
}

button.cta {
  display: inline;
  background-color: var(--main-color-dark);
  margin-left: -5px;
  width: 40%;
  height: 100%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border: 2px solid var(--main-border-color);
  border-left: none;
  color: var(--font-color-dark-background);
  cursor: pointer;
}

/*///////////// 3.2 Testimonial /////////////*/

main {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 60px
}

main h3 {
  text-align: center;
  padding: 2rem;
}

.testimonial {
  height: auto;
  width: 80%;
  border-radius: 5px;
  box-shadow: 0 4px 10px 4px rgba(128, 128, 128, .3); /*0 from the x axis and 4px down from the y axis, blur is set to 10, and  spead is 4px, im using a grey color with an opacity*/
  margin: 0 auto 3rem;
}

.testimonial:last-of-type {
  margin-bottom: 0;
}

.opinion {
  position: relative;
  padding: 3rem 4rem;
  font-size: .7rem;

  & footer {
    margin-top: .5rem;
  }

  & cite {
    margin-left: 1rem;
  }

  & img {
    vertical-align: middle;
    border-radius: 50%;
  }

  &::before {
    position: absolute;
    content: '';
    left: 40px;
    background-image: url("../assets/icons/quote-left.png");
    background-size: cover;
    height: 20px;
    width: 20px;
    display: inline-block;
  }
}

/*///////////// 3.3 Support /////////////*/

.callcenter {
  margin: 0 auto;
  width: 80%;

  & img {
    width: 100%;
    border-radius: 8px;
  }

  & p {
    font-size: .7rem;
    padding: 1.2rem 0;
  }

  & a {
    /*This will give the default text underline a different color*/
    /*Also it will also change font-color*/
    color: var(--link-color);
  }

  & a:hover {
    text-decoration: none;
  }

  & button {
    background-color: var(--main-color-dark);
    padding: 1rem 1.4rem;
    font-size: .6rem;
    color: white;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
  }
}


/*///////////// 3.4 Faq /////////////*/

.faq {
  width: 80%;
  margin: 0 auto;

  & details {
    font-size: .6rem;
    margin-bottom: 1rem;
    cursor: pointer;

    & p {
      margin-top: .5rem;
      width: 60%;
      padding: 1rem;
      border-radius: 10px;
      color: var(--font-color-dark-background);
      background-color: var(--details-summary);
    }

    &:last-of-type {
      margin-bottom: 3rem;
    }
  }
}

/*///////////// 3.5 Footer /////////////*/

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--main-color-dark);
  color: var(--font-color-dark-background);
  text-align: center;

  & small {
    font-size: .6rem;
  }
}